In [333]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)  # or 1000
pd.set_option('display.max_rows', None)  # or 1000
pd.set_option('display.max_colwidth', -1)  # or 199
from pandas.plotting import scatter_matrix
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

<ipython-input-333-a44f61488a4c>:6: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)  # or 199

In [334]:
busi_train = pd.read_csv("busi_train.csv", index_col=0)
busi_names = []
for i in busi_train.columns:
    busi_names.append("busi_" + i)

busi_train.columns = busi_names

econ_train = pd.read_csv("econ_train.csv", index_col=0)
econ_names = []
for i in econ_train.columns:
    econ_names.append("econ_" + i)

econ_train.columns = econ_names

educ_train = pd.read_csv("educ_train.csv", index_col=0)
educ_names = []
for i in educ_train.columns:
    educ_names.append("educ_" + i)

educ_train.columns = educ_names

envi_train = pd.read_csv("envi_train.csv", index_col=0)
envi_names = []
for i in envi_train.columns:
    envi_names.append("envi_" + i)

envi_train.columns = envi_names

gove_train = pd.read_csv("gove_train.csv", index_col=0)
gove_names = []
for i in gove_train.columns:
    gove_names.append("gove_" + i)

gove_train.columns = gove_names

heal_train = pd.read_csv("heal_train.csv", index_col=0)
heal_names = []
for i in heal_train.columns:
    heal_names.append("heal_" + i)

heal_train.columns = heal_names

pers_train = pd.read_csv("pers_train.csv", index_col=0)
pers_names = []
for i in pers_train.columns:
    pers_names.append("pers_" + i)

pers_train.columns = pers_names

safe_train = pd.read_csv("safe_train.csv", index_col=0)
safe_names = []
for i in safe_train.columns:
    safe_names.append("safe_" + i)

safe_train.columns = safe_names

soci_train = pd.read_csv("soci_train.csv", index_col=0)
soci_names = []
for i in soci_train.columns:
    soci_names.append("soci_" + i)

soci_train.columns = soci_names

In [335]:
busi_test = pd.read_csv("busi_test.csv", index_col=0)
busi_names = []
for i in busi_test.columns:
    busi_names.append("busi_" + i)

busi_test.columns = busi_names

econ_test = pd.read_csv("econ_test.csv", index_col=0)
econ_names = []
for i in econ_test.columns:
    econ_names.append("econ_" + i)

econ_test.columns = econ_names

educ_test = pd.read_csv("educ_test.csv", index_col=0)
educ_names = []
for i in educ_test.columns:
    educ_names.append("educ_" + i)

educ_test.columns = educ_names

envi_test = pd.read_csv("envi_test.csv", index_col=0)
envi_names = []
for i in envi_test.columns:
    envi_names.append("envi_" + i)

envi_test.columns = envi_names

gove_test = pd.read_csv("gove_test.csv", index_col=0)
gove_names = []
for i in gove_test.columns:
    gove_names.append("gove_" + i)

gove_test.columns = gove_names

heal_test = pd.read_csv("heal_test.csv", index_col=0)
heal_names = []
for i in heal_test.columns:
    heal_names.append("heal_" + i)

heal_test.columns = heal_names

pers_test = pd.read_csv("pers_test.csv", index_col=0)
pers_names = []
for i in pers_test.columns:
    pers_names.append("pers_" + i)

pers_test.columns = pers_names

safe_test = pd.read_csv("safe_test.csv", index_col=0)
safe_names = []
for i in safe_test.columns:
    safe_names.append("safe_" + i)

safe_test.columns = safe_names

soci_test = pd.read_csv("soci_test.csv", index_col=0)
soci_names = []
for i in soci_test.columns:
    soci_names.append("soci_" + i)

soci_test.columns = soci_names

In [336]:
busi_train.loc[busi_train['busi_country']=='Afghanistan']

,busi_country,busi_isonum,busi_isocode,busi_year,busi_rank_busi,busi_busi,busi_start,busi_start_year,busi_ahead,busi_ahead_year,busi_logis,busi_logis_year,busi_bband,busi_bband_year,busi_redu,busi_redu_year,busi_hifi,busi_hifi_year,busi_affs,busi_affs_year,busi_ippr,busi_ippr_year,busi_insdtf,busi_insdtf_year,busi_creddtf,busi_creddtf_year,busi_elcostlnl,busi_elcostlnl_year,busi_stardtf,busi_stardtf_year
0,Afghanistan,4,AFG,2007,127,35.308167,***,2011,***,2008,1.210000,2007,0.001898,2007,26.472107,--,3.633919,--,3.852955,--,2.457773,--,27.07,2007,6.25,2007,6.426812,2009,82.87,2007
149,Afghanistan,4,AFG,2008,126,35.693161,***,2011,***,2008,1.210000,2007,0.001850,2008,26.472107,--,3.633919,--,3.852955,--,2.457773,--,26.16,2008,6.25,2008,6.426812,2009,86.02,2008
298,Afghanistan,4,AFG,2009,118,40.751892,***,2011,***,2009,1.210000,2007,0.003609,2009,26.472107,--,3.633919,--,3.852955,--,2.457773,--,26.16,2009,37.50,2009,6.426812,2009,90.18,2009
447,Afghanistan,4,AFG,2010,119,41.276299,***,2011,***,2010,2.240000,2010,0.005282,2010,26.472107,--,3.633919,--,3.852955,--,2.457773,--,28.00,2010,37.50,2010,8.729025,2010,90.62,2010
596,Afghanistan,4,AFG,2011,123,41.475956,***,2011,***,2011,2.240000,2010,0.005282,2010,26.472107,--,3.633919,--,3.852955,--,2.457773,--,28.49,2011,37.50,2011,8.744791,2011,90.73,2011
745,Afghanistan,4,AFG,2012,121,43.530918,***,2012,***,2012,2.300000,2012,0.005029,2012,26.472107,--,3.633919,--,3.852955,--,2.457773,--,28.42,2012,37.50,2012,8.620760,2012,91.15,2012
894,Afghanistan,4,AFG,2013,122,44.862602,***,2013,***,2013,2.300000,2012,0.004910,2013,26.472107,--,3.633919,--,3.852955,--,2.457773,--,28.49,2013,43.75,2013,8.236977,2013,94.13,2013
1043,Afghanistan,4,AFG,2014,125,42.764568,***,2014,***,2014,2.069573,2014,0.004795,2014,26.472107,--,3.633919,--,3.852955,--,2.457773,--,23.60,2014,45.00,2014,8.123825,2014,93.54,2014

In [337]:
econ_test.loc[econ_test['econ_country']=='Australia']

,econ_country,econ_isonum,econ_isocode,econ_year,econ_comfy,econ_comfy_year,econ_livstd,econ_livstd_year,econ_barrier,econ_barrier_year,econ_amp,econ_amp_year,econ_parfem,econ_parfem_year,econ_banka,econ_banka_year,econ_povnahc,econ_povnahc_year,econ_povdday,econ_povdday_year,econ_lfpr,econ_lfpr_year,econ_urate,econ_urate_year,econ_eqi,econ_eqi_year,econ_edi,econ_edi_year,econ_gdp5,econ_gdp5_year
1198,Australia,36,AUS,2015,***,2015,***,2015,4.517205,2015,4.627477,2015,70.699997,2014,99.064842,2011,0.14,2012,0.075325,--,76.699997,2014,6.0,2014,0.936947,2010,2.99216,2010,0.010547,2015
1347,Australia,36,AUS,2016,***,2015,***,2015,4.517205,2015,4.627477,2015,70.699997,2014,99.064842,2011,0.14,2012,0.075325,--,76.699997,2014,6.0,2014,0.936947,2010,2.99216,2010,0.010547,2015

In [338]:
def preprocessor(df1):
    df1 = df1.replace({"***":np.NaN, '--':np.NaN})
    df1 = df1.dropna(how = "all", axis = 1)
    df1 = df1.drop([df1.columns[0], df1.columns[1], df1.columns[2], df1.columns[4]], axis =1)
    df1 = df1.rename({df1.columns[0]:'Year'})
    df1 = df1.drop([i for i in df1.columns if 'year' in i], axis =1)
    df1 = df1.dropna()
    return df1

In [339]:
def preprocessor_test(df):
    df = df.replace({"***":np.NaN, '--':np.NaN})
    df = df.dropna(how = "all", axis = 1)
    df = df.drop([df.columns[0], df.columns[1], df.columns[2]], axis =1)
    df = df.rename({df.columns[0]:'Year'})
    df = df.drop([i for i in df.columns if 'year' in i], axis =1)
    return df

In [340]:
dfs = [busi_train, econ_train, educ_train, envi_train, gove_train, heal_train, pers_train, safe_train, soci_train]
cleaned = []
for i in dfs:
    cleaned.append(preprocessor(i))

In [341]:
dfs_test = [busi_test, econ_test, educ_test, envi_test, gove_test, heal_test, pers_test, safe_test, soci_test]
cleaned_test = []
for i in dfs_test:
    cleaned_test.append(preprocessor_test(i))

In [342]:
busi_train = cleaned[0]
features = [i for i in busi_train.columns]
features.remove("busi_busi")
busi_train = busi_train_2.dropna()
X = busi_train[features]
y = busi_train['busi_busi']
rf_busi = RandomForestRegressor(n_estimators = 500)
rf_busi.fit(X, y)
busi_test_2 = cleaned_test[0]
features = [i for i in busi_test_2.columns]
X = busi_test_2[features]
y = rf_busi.predict(X)
busi_test['predicted_scores_busi'] = y
busi_test_predictions = busi_test.loc[busi_test['busi_year'] == 2016].sort_values(by = 'predicted_scores_busi', ascending = False)
busi_test_predictions['predicted_rank'] = range(1, len(busi_test_predictions)+1)
busi_test_predictions = busi_test_2015[['busi_country', 'predicted_scores_busi', 'predicted_rank']]
busi_test_predictions

                      busi_country  predicted_scores_busi  predicted_rank
1334  United States                 75.170944              1
1214  Canada                        74.715735              2
1247  Hong Kong                     73.474802              3
1298  New Zealand                   73.214800              4
1315  Singapore                     72.962242              5
1240  United Kingdom                72.758195              6
1198  Australia                     72.387381              7
1237  Finland                       71.266778              8
1229  Denmark                       70.747430              9
1215  Switzerland                   69.852916              10
1296  Norway                        69.787106              11
1227  Germany                       69.649963              12
1295  Netherlands                   68.770771              13
1253  Ireland                       68.707181              14
1321  Sweden                        68.153754              15
1290  Malaysia                      67.926500              16
1202  Belgium                       66.617416              17
1256  Iceland                       66.571877              18
1238  France                        66.426686              19
1199  Austria                       65.866770              20
1261  Japan                         65.669098              21
1307  Qatar                         64.114310              22
1235  Estonia                       64.091122              23
1195  United Arab Emirates          63.451849              24
1301  Panama                        63.319801              25
1257  Israel                        62.387940              26
1275  Luxembourg                    61.116689              27
1338  South Africa                  60.765437              28
1276  Latvia                        60.323835              29
1225  Cyprus                        60.147761              30
1226  Czech Republic                60.033744              31
1288  Mauritius                     59.970687              32
1266  South Korea                   59.557842              33
1333  Uruguay                       59.427285              34
1305  Portugal                      58.908951              35
1304  Poland                        58.884122              36
1281  Macedonia                     58.705376              37
1222  Colombia                      58.535801              38
1259  Jamaica                       58.516078              39
1234  Spain                         57.762848              40
1280  Mexico                        57.739865              41
1310  Rwanda                        57.301346              42
1216  Chile                         57.242513              43
1308  Romania                       57.236896              44
1319  Slovakia                      57.116457              45
1284  Montenegro                    57.100029              46
1274  Lithuania                     56.865368              47
1311  Saudi Arabia                  56.772049              48
1207  Bahrain                       56.658115              49
1250  Hungary                       55.885846              50
1302  Peru                          55.757489              51
1299  Oman                          55.654238              52
1262  Kazakhstan                    55.592647              53
1245  Guatemala                     55.327075              54
1224  Costa Rica                    55.044405              55
1217  China                         54.798529              56
1258  Italy                         54.706930              57
1303  Philippines                   54.500732              58
1244  Greece                        54.471628              59
1339  Zambia                        54.248146              60
1327  Trinidad and Tobago           54.207836              61
1325  Thailand                      54.108954              62
1317  El Salvador                   54.079019              63
1206  Bulgaria                      54.015217              64
1241  Georgia                       53.747449              65
1291  Namibia                       53.658609              66
1194  Albania                       53.497870              67
1320  Slovenia                      53.454209              68
1212  Botswana                      53.169838              69
1309  Russia                        52.970758              70
1329  Turkey                        52.873172              71
1248  Honduras                      52.790387              72
1283  Malta                         52.196256              73
1263  Kenya                         52.060058              74
1197  Armenia                       52.054049              75
1272  Sri Lanka                     52.049963              76
1251  Indonesia                     51.687213              77
1200  Azerbaijan                    51.612399              78
1278  Moldova                       51.575234              79
1249  Croatia                       51.484003              80
1277  Morocco                       51.013703              81
1312  Serbia                        51.008758              82
1211  Brazil                        51.004401              83
1242  Ghana                         50.941968              84
1336  Vietnam                       50.863850              85
1322  Swaziland                     50.769167              86
1252  India                         50.518562              87
1208  Belarus                       50.181605              88
1332  Ukraine                       49.883208              89
1264  Kyrgyzstan                    49.836637              90
1265  Cambodia                      49.683256              91
1306  Paraguay                      49.627404              92
1285  Mongolia                      49.520198              93
1294  Nicaragua                     49.485390              94
1267  Kuwait                        49.472166              95
1326  Tajikistan                    49.451171              96
1269  Lebanon                       49.413061              97
1230  Dominican Republic            49.395424              98
1196  Argentina                     49.300922              99
1232  Ecuador                       49.042028              100
1233  Egypt                         48.652140              101
1293  Nigeria                       48.460696              102
1270  Liberia                       48.274347              103
1218  Ivory Coast                   47.972227              104
1328  Tunisia                       47.969052              105
1331  Uganda                        47.845462              106
1268  Laos                          47.029514              107
1260  Jordan                        46.883821              108
1314  Senegal                       46.656121              109
1297  Nepal                         46.160644              110
1254  Iran                          45.862582              111
1330  Tanzania                      45.586307              112
1300  Pakistan                      45.335908              113
1219  Cameroon                      45.115571              114
1239  Gabon                         44.938378              115
1246  Guyana                        44.711351              116
1273  Lesotho                       44.416318              117
1286  Mozambique                    44.068613              118
1203  Benin                         43.961302              119
1204  Burkina Faso                  43.754965              120
1205  Bangladesh                    43.651678              121
1282  Mali                          43.495605              122
1192  Afghanistan                   43.315504              123
1324  Togo                          43.302962              124
1316  Sierra Leone                  43.210327              125
1209  Belize                        43.116136              126
1210  Bolivia                       42.824662              127
1289  Malawi                        42.768579              128
1223  Comoros                       42.431734              129
1292  Niger                         41.933243              130
1221  Congo                         41.723474              131
1231  Algeria                       41.407500              132
1236  Ethiopia                      40.521041              133
1340  Zimbabwe                      40.438456              134
1243  Guinea                        39.971516              135
1279  Madagascar                    39.882900              136
1201  Burundi                       39.191125              137
1220  Democratic Republic of Congo  38.913215              138
1335  Venezuela                     38.778061              139
1318  Suriname                      38.245908              140
1287  Mauritania                    38.085855              141
1313  Sudan                         37.840159              142
1228  Djibouti                      36.904636              143
1193  Angola                        36.808171              144
1323  Chad                          36.545162              145
1337  Yemen                         36.120397              146
1213  Central African Republic      36.023248              147
1271  Libya                         35.934280              148
1255  Iraq                          35.594167              149

In [343]:
busi_test_2015.head()

,busi_country,busi_isonum,busi_isocode,busi_year,busi_start,busi_start_year,busi_ahead,busi_ahead_year,busi_logis,busi_logis_year,busi_bband,busi_bband_year,busi_redu,busi_redu_year,busi_hifi,busi_hifi_year,busi_affs,busi_affs_year,busi_ippr,busi_ippr_year,busi_insdtf,busi_insdtf_year,busi_creddtf,busi_creddtf_year,busi_elcostlnl,busi_elcostlnl_year,busi_stardtf,busi_stardtf_year,predicted_scores_busi,predicted_rank
1334,United States,840,USA,2015,***,2014,***,2014,3.917825,2014,31.059292,2014,0.000000,2014,4.855757,2014,5.698721,2014,5.414094,2014,90.12,2015,95.0,2015,3.202746,2015,91.22,2015,75.170944,1
1214,Canada,124,CAN,2015,***,2014,***,2014,3.855498,2014,35.378170,2014,10.000000,2014,4.405139,2014,5.826403,2014,5.650158,2014,81.36,2015,85.0,2015,4.837075,2015,98.23,2015,74.715735,2
1247,Hong Kong,344,HKG,2015,***,2014,***,2014,3.826763,2014,31.424387,2014,5.766667,2014,5.725656,2014,5.989753,2014,5.800300,2014,75.06,2015,75.0,2015,0.262364,2015,98.12,2015,73.474802,3
1298,New Zealand,554,NZL,2015,***,2015,***,2015,3.643892,2014,30.979826,2014,0.000000,2014,4.051551,2014,5.706631,2014,5.962882,2014,71.41,2015,100.0,2015,4.320151,2015,99.96,2015,73.214800,4
1315,Singapore,702,SGP,2015,***,2014,***,2014,4.004448,2014,26.716925,2014,3.000000,2014,5.401011,2014,5.860475,2014,6.151738,2014,74.83,2015,75.0,2015,3.254243,2015,96.49,2015,72.962242,5

In [344]:
busi_test_2016.head()

,busi_country,busi_isonum,busi_isocode,busi_year,busi_start,busi_start_year,busi_ahead,busi_ahead_year,busi_logis,busi_logis_year,busi_bband,busi_bband_year,busi_redu,busi_redu_year,busi_hifi,busi_hifi_year,busi_affs,busi_affs_year,busi_ippr,busi_ippr_year,busi_insdtf,busi_insdtf_year,busi_creddtf,busi_creddtf_year,busi_elcostlnl,busi_elcostlnl_year,busi_stardtf,busi_stardtf_year,predicted_scores_busi,predicted_rank
1483,United States,840,USA,2016,***,2014,***,2014,3.917825,2014,31.059292,2014,0.000000,2014,4.855757,2014,5.698721,2014,5.414094,2014,90.12,2015,95.0,2015,3.202746,2015,91.22,2015,75.170944,1
1363,Canada,124,CAN,2016,***,2014,***,2014,3.855498,2014,35.378170,2014,10.000000,2014,4.405139,2014,5.826403,2014,5.650158,2014,81.36,2015,85.0,2015,4.837075,2015,98.23,2015,74.715735,2
1396,Hong Kong,344,HKG,2016,***,2014,***,2014,3.826763,2014,31.424387,2014,5.766667,2014,5.725656,2014,5.989753,2014,5.800300,2014,75.06,2015,75.0,2015,0.262364,2015,98.12,2015,73.474802,3
1447,New Zealand,554,NZL,2016,***,2015,***,2015,3.643892,2014,30.979826,2014,0.000000,2014,4.051551,2014,5.706631,2014,5.962882,2014,71.41,2015,100.0,2015,4.320151,2015,99.96,2015,73.214800,4
1464,Singapore,702,SGP,2016,***,2014,***,2014,4.004448,2014,26.716925,2014,3.000000,2014,5.401011,2014,5.860475,2014,6.151738,2014,74.83,2015,75.0,2015,3.254243,2015,96.49,2015,72.962242,5

In [345]:
econ_train = cleaned[1]
features = [i for i in econ_train.columns]
features.remove("econ_econ")
econ_train = econ_train.dropna()
X = econ_train[features]
y = econ_train['econ_econ']
rf_econ = RandomForestRegressor(n_estimators = 500)
rf_econ.fit(X, y)
econ_test_2 = cleaned_test[1]
features = [i for i in econ_test_2.columns]
X = econ_test_2[features]
y = rf_econ.predict(X)
econ_test['predicted_scores_econ'] = y
econ_test_predictions = econ_test.loc[econ_test['econ_year'] == 2015].sort_values(by = 'predicted_scores_econ', ascending = False)
econ_test_predictions['predicted_rank'] = range(1, len(econ_test_predictions)+1)
econ_test_predictions = econ_test_predictions[['econ_country', 'predicted_scores_econ', 'predicted_rank']]
econ_test_predictions.head()

     econ_country  predicted_scores_econ  predicted_rank
1295  Netherlands  80.855365              1
1321  Sweden       80.265059              2
1298  New Zealand  80.048656              3
1215  Switzerland  79.487119              4
1227  Germany      79.229041              5

In [346]:
educ_train = cleaned[2]
features = [i for i in educ_train.columns]
features.remove("educ_educ")
educ_train = educ_train.dropna()
X = educ_train[features]
y = educ_train['educ_educ']
rf_educ = RandomForestRegressor(n_estimators = 500)
rf_educ.fit(X, y)
educ_test_2 = cleaned_test[2]
features = [i for i in educ_test_2.columns]
X = educ_test_2[features]
y = rf_educ.predict(X)
educ_test['predicted_scores_educ'] = y
educ_test_predictions = educ_test.loc[educ_test['educ_year'] == 2015].sort_values(by = 'predicted_scores_educ', ascending = False)
educ_test_predictions['predicted_rank'] = range(1, len(educ_test_predictions)+1)
educ_test_predictions = educ_test_predictions[['educ_country', 'predicted_scores_educ', 'predicted_rank']]
educ_test_predictions.head()

     educ_country  predicted_scores_educ  predicted_rank
1215  Switzerland  80.835591              1
1295  Netherlands  80.493375              2
1237  Finland      79.997365              3
1296  Norway       79.427121              4
1202  Belgium      79.402312              5

In [347]:
envi_train = cleaned[3]
features = [i for i in envi_train.columns]
features.remove("envi_envi")
envi_train = envi_train.dropna()
X = envi_train[features]
y = envi_train['envi_envi']
rf_envi = RandomForestRegressor(n_estimators = 500)
rf_envi.fit(X, y)
envi_test_2 = cleaned_test[3]
features = [i for i in envi_test_2.columns]
X = envi_test_2[features]
y = rf_envi.predict(X)
envi_test['predicted_scores_envi'] = y
envi_test_predictions = envi_test.loc[envi_test['envi_year'] == 2015].sort_values(by = 'predicted_scores_envi', ascending = False)
envi_test_predictions['predicted_rank'] = range(1, len(envi_test_predictions)+1)
envi_test_predictions = envi_test_predictions[['envi_country', 'predicted_scores_envi', 'predicted_rank']]
envi_test_predictions.head()

     envi_country  predicted_scores_envi  predicted_rank
1320  Slovenia     80.627933              1
1237  Finland      79.104349              2
1275  Luxembourg   79.090382              3
1238  France       78.240932              4
1296  Norway       77.908618              5

In [348]:
gove_train = cleaned[4]
features = [i for i in gove_train.columns]
features.remove("gove_gove")
gove_train = gove_train.dropna()
X = gove_train[features]
y = gove_train['gove_gove']
rf_gove = RandomForestRegressor(n_estimators = 500)
rf_gove.fit(X, y)
gove_test_2 = cleaned_test[4]
features = [i for i in gove_test_2.columns]
X = gove_test_2[features]
y = rf_gove.predict(X)
gove_test['predicted_scores_gove'] = y
gove_test_predictions = gove_test.loc[gove_test['gove_year'] == 2015].sort_values(by = 'predicted_scores_gove', ascending = False)
gove_test_predictions['predicted_rank'] = range(1, len(gove_test_predictions)+1)

gove_test_predictions = gove_test_predictions[['gove_country', 'predicted_scores_gove', 'predicted_rank']]

In [349]:
heal_train = cleaned[5]
features = [i for i in heal_train.columns]
features.remove("heal_heal")
heal_train = heal_train.dropna()
X = heal_train[features]
y = heal_train['heal_heal']
rf_heal = RandomForestRegressor(n_estimators = 500)
rf_heal.fit(X, y)
heal_test_2 = cleaned_test[5]
features = [i for i in heal_test_2.columns]
X = heal_test_2[features]
y = rf_heal.predict(X)
heal_test['predicted_scores_heal'] = y
heal_test_predictions = heal_test.loc[heal_test['heal_year'] == 2015].sort_values(by = 'predicted_scores_heal', ascending = False)
heal_test_predictions['predicted_rank'] = range(1, len(heal_test_predictions)+1)
heal_test_predictions = heal_test_predictions[['heal_country', 'predicted_scores_heal', 'predicted_rank']]

In [350]:
pers_train = cleaned[6]
features = [i for i in pers_train.columns]
features.remove("pers_pers")
pers_train = pers_train.dropna()
X = pers_train[features]
y = pers_train['pers_pers']
rf_pers = RandomForestRegressor(n_estimators = 500)
rf_pers.fit(X, y)
pers_test_2 = cleaned_test[6]
features = [i for i in pers_test_2.columns]
X = pers_test_2[features]
y = rf_pers.predict(X)
pers_test['predicted_scores_pers'] = y
pers_test_predictions = pers_test.loc[pers_test['pers_year'] == 2015].sort_values(by = 'predicted_scores_pers', ascending = False)
pers_test_predictions['predicted_rank'] = range(1, len(pers_test_predictions)+1)
pers_test_predictions = pers_test_predictions[['pers_country', 'predicted_scores_pers', 'predicted_rank']]

In [351]:
safe_train = cleaned[7]
features = [i for i in safe_train.columns]
features.remove("safe_safe")
safe_train = safe_train.dropna()
X = safe_train[features]
y = safe_train['safe_safe']
rf_safe = RandomForestRegressor(n_estimators = 500)
rf_safe.fit(X, y)
safe_test_2 = cleaned_test[7]
features = [i for i in safe_test_2.columns]
X = safe_test_2[features]
y = rf_safe.predict(X)
safe_test['predicted_scores_safe'] = y
safe_test_predictions = safe_test.loc[safe_test['safe_year'] == 2015].sort_values(by = 'predicted_scores_safe', ascending = False)
safe_test_predictions['predicted_rank'] = range(1, len(safe_test_predictions)+1)
safe_test_predictions = safe_test_predictions[['safe_country', 'predicted_scores_safe', 'predicted_rank']]

In [352]:
soci_train = cleaned[8]
features = [i for i in soci_train.columns]
features.remove("soci_soci")
soci_train = soci_train.dropna()
X = soci_train[features]
y = soci_train['soci_soci']
rf_soci = RandomForestRegressor(n_estimators = 500)
rf_soci.fit(X, y)
soci_test_2 = cleaned_test[8]
features = [i for i in soci_test_2.columns]
X = soci_test_2[features]
y = rf_soci.predict(X)
soci_test['predicted_scores_soci'] = y
soci_test_predictions = soci_test.loc[soci_test['soci_year'] == 2015].sort_values(by = 'predicted_scores_soci', ascending = False)
soci_test_predictions['predicted_rank'] = range(1, len(soci_test_predictions)+1)
soci_test_predictions = soci_test_predictions[['soci_country', 'predicted_scores_soci', 'predicted_rank']]

In [353]:
final = pd.concat([econ_test_predictions,soci_test_predictions,heal_test_predictions,busi_test_predictions,envi_test_predictions,pers_test_predictions,educ_test_predictions,safe_test_predictions,gove_test_predictions],axis=1)
final = final.drop([i for i in final.columns if 'rank' in i], axis=1)

In [354]:
final = final.rename({'econ_country':'Country'}, axis = 1)
final = final.drop([i for i in final.columns if 'country' in i], axis = 1)

In [355]:
final['predicted_prosperity_overall'] = final.iloc[:, 1:].mean(axis=1)
final = final.sort_values(by='predicted_prosperity_overall', ascending = False)
final['Rank'] = range(1, len(final_2015)+1)
final = final[['Country', 'predicted_prosperity_overall', 'Rank']]
final

                           Country  predicted_prosperity_overall  Rank
1237  Finland                       78.583068                     1
1296  Norway                        77.976541                     2
1298  New Zealand                   77.973330                     3
1295  Netherlands                   77.408362                     4
1321  Sweden                        77.253193                     5
1229  Denmark                       76.677473                     6
1198  Australia                     76.587060                     7
1214  Canada                        76.254063                     8
1240  United Kingdom                75.896149                     9
1215  Switzerland                   75.751761                     10
1227  Germany                       75.689596                     11
1253  Ireland                       75.507070                     12
1256  Iceland                       75.363823                     13
1275  Luxembourg                    75.185034                     14
1199  Austria                       74.706479                     15
1334  United States                 74.447546                     16
1202  Belgium                       74.177138                     17
1238  France                        72.937071                     18
1315  Singapore                     71.577028                     19
1235  Estonia                       71.028555                     20
1261  Japan                         70.558494                     21
1320  Slovenia                      70.121262                     22
1234  Spain                         70.063611                     23
1247  Hong Kong                     69.688856                     24
1283  Malta                         68.941357                     25
1305  Portugal                      68.023073                     26
1226  Czech Republic                67.756258                     27
1216  Chile                         67.262479                     28
1333  Uruguay                       67.133555                     29
1225  Cyprus                        67.023311                     30
1304  Poland                        66.695082                     31
1224  Costa Rica                    66.092766                     32
1288  Mauritius                     65.958270                     33
1258  Italy                         65.938656                     34
1319  Slovakia                      65.185951                     35
1266  South Korea                   65.120808                     36
1290  Malaysia                      64.907675                     37
1276  Latvia                        64.678557                     38
1257  Israel                        63.999863                     39
1301  Panama                        63.887981                     40
1244  Greece                        63.384173                     41
1327  Trinidad and Tobago           63.106245                     42
1274  Lithuania                     62.977916                     43
1249  Croatia                       62.912723                     44
1196  Argentina                     62.887334                     45
1195  United Arab Emirates          62.635614                     46
1250  Hungary                       62.229341                     47
1307  Qatar                         61.732203                     48
1338  South Africa                  61.578291                     49
1281  Macedonia                     61.302700                     50
1211  Brazil                        61.182360                     51
1206  Bulgaria                      60.543439                     52
1212  Botswana                      60.179308                     53
1308  Romania                       60.148063                     54
1284  Montenegro                    59.964283                     55
1259  Jamaica                       59.804508                     56
1280  Mexico                        59.582808                     57
1230  Dominican Republic            59.187198                     58
1272  Sri Lanka                     59.000939                     59
1318  Suriname                      58.923647                     60
1303  Philippines                   58.909821                     61
1232  Ecuador                       58.874805                     62
1312  Serbia                        58.718660                     63
1251  Indonesia                     58.492732                     64
1302  Peru                          58.488931                     65
1291  Namibia                       58.272986                     66
1207  Bahrain                       58.237599                     67
1325  Thailand                      58.120584                     68
1306  Paraguay                      58.044948                     69
1294  Nicaragua                     57.932062                     70
1285  Mongolia                      57.847857                     71
1222  Colombia                      57.755933                     72
1194  Albania                       57.598512                     73
1209  Belize                        57.595492                     74
1246  Guyana                        57.553203                     75
1329  Turkey                        57.494454                     76
1267  Kuwait                        57.409783                     77
1241  Georgia                       57.377547                     78
1317  El Salvador                   57.267992                     79
1299  Oman                          57.008470                     80
1336  Vietnam                       56.933898                     81
1217  China                         56.442043                     82
1210  Bolivia                       56.297217                     83
1242  Ghana                         56.256166                     84
1310  Rwanda                        56.128867                     85
1262  Kazakhstan                    55.999780                     86
1264  Kyrgyzstan                    55.968666                     87
1328  Tunisia                       55.476137                     88
1311  Saudi Arabia                  55.425524                     89
1260  Jordan                        55.414542                     90
1248  Honduras                      55.321009                     91
1245  Guatemala                     55.287578                     92
1278  Moldova                       54.980942                     93
1197  Armenia                       54.719006                     94
1208  Belarus                       54.459916                     95
1297  Nepal                         54.459601                     96
1277  Morocco                       54.270889                     97
1265  Cambodia                      54.251685                     98
1326  Tajikistan                    54.184674                     99
1332  Ukraine                       53.941649                     100
1309  Russia                        53.638688                     101
1263  Kenya                         53.622572                     102
1269  Lebanon                       53.522924                     103
1200  Azerbaijan                    53.515445                     104
1268  Laos                          53.402652                     105
1339  Zambia                        53.204534                     106
1289  Malawi                        52.914142                     107
1314  Senegal                       52.837360                     108
1252  India                         52.708875                     109
1335  Venezuela                     52.503933                     110
1231  Algeria                       52.191851                     111
1204  Burkina Faso                  52.087123                     112
1228  Djibouti                      51.839449                     113
1330  Tanzania                      51.020698                     114
1203  Benin                         50.711149                     115
1254  Iran                          50.564009                     116
1205  Bangladesh                    50.334901                     117
1340  Zimbabwe                      50.299164                     118
1273  Lesotho                       50.162889                     119
1331  Uganda                        50.122583                     120
1286  Mozambique                    49.829413                     121
1239  Gabon                         49.633150                     122
1233  Egypt                         49.587168                     123
1218  Ivory Coast                   49.378581                     124
1219  Cameroon                      49.156634                     125
1324  Togo                          49.015807                     126
1316  Sierra Leone                  48.987199                     127
1270  Liberia                       48.476076                     128
1322  Swaziland                     48.280929                     129
1223  Comoros                       48.277551                     130
1279  Madagascar                    47.940024                     131
1221  Congo                         47.294087                     132
1236  Ethiopia                      46.681588                     133
1282  Mali                          46.438478                     134
1271  Libya                         46.368374                     135
1201  Burundi                       46.332253                     136
1293  Nigeria                       46.260991                     137
1292  Niger                         45.713152                     138
1243  Guinea                        45.060302                     139
1300  Pakistan                      44.744078                     140
1193  Angola                        43.806934                     141
1287  Mauritania                    43.089646                     142
1255  Iraq                          41.263826                     143
1337  Yemen                         40.729703                     144
1313  Sudan                         40.058625                     145
1323  Chad                          39.905233                     146
1220  Democratic Republic of Congo  39.451277                     147
1192  Afghanistan                   38.454321                     148
1213  Central African Republic      38.276729                     149

In [356]:
#FINAL RESULTS:

econ_test_predictions.head() # econ_pillar_predictions

     econ_country  predicted_scores_econ  predicted_rank
1295  Netherlands  80.855365              1
1321  Sweden       80.265059              2
1298  New Zealand  80.048656              3
1215  Switzerland  79.487119              4
1227  Germany      79.229041              5

In [357]:
busi_test_predictions.head() # business_pillar_predictions

       busi_country  predicted_scores_busi  predicted_rank
1334  United States  75.170944              1
1214  Canada         74.715735              2
1247  Hong Kong      73.474802              3
1298  New Zealand    73.214800              4
1315  Singapore      72.962242              5

In [358]:
gove_test_predictions.head() # governance_pillar_predictions

     gove_country  predicted_scores_gove  predicted_rank
1237  Finland      84.897492              1
1296  Norway       82.898687              2
1298  New Zealand  82.481268              3
1321  Sweden       81.646052              4
1295  Netherlands  81.491348              5

In [359]:
soci_test_predictions.head() # society_pillar_predictions

       soci_country  predicted_scores_soci  predicted_rank
1334  United States  66.699009              1
1235  Estonia        66.277961              2
1198  Australia      65.958022              3
1256  Iceland        65.216571              4
1253  Ireland        65.090099              5

In [360]:
safe_test_predictions.head() # safety_pillar_predictions

     safe_country  predicted_scores_safe  predicted_rank
1315  Singapore    85.340647              1
1261  Japan        85.271178              2
1256  Iceland      84.528257              3
1229  Denmark      83.996779              4
1275  Luxembourg   83.807519              5

In [361]:
educ_test_predictions.head() # education_pillar_predictions

     educ_country  predicted_scores_educ  predicted_rank
1215  Switzerland  80.835591              1
1295  Netherlands  80.493375              2
1237  Finland      79.997365              3
1296  Norway       79.427121              4
1202  Belgium      79.402312              5

In [362]:
pers_test_predictions.head() # personal_freedom_pillar_predictions

     pers_country  predicted_scores_pers  predicted_rank
1214  Canada       91.733010              1
1298  New Zealand  90.806124              2
1295  Netherlands  89.610793              3
1333  Uruguay      89.301022              4
1253  Ireland      88.886831              5

In [363]:
heal_test_predictions.head() # health_pillar_predictions

     heal_country  predicted_scores_heal  predicted_rank
1275  Luxembourg   83.484133              1
1261  Japan        83.356081              2
1215  Switzerland  83.238851              3
1315  Singapore    83.219408              4
1321  Sweden       81.892644              5

In [364]:
envi_test_predictions.head() # enivronment_pillar_predictions

     envi_country  predicted_scores_envi  predicted_rank
1320  Slovenia     80.627933              1
1237  Finland      79.104349              2
1275  Luxembourg   79.090382              3
1238  France       78.240932              4
1296  Norway       77.908618              5

In [365]:
final # Answer for part b, Q5

                           Country  predicted_prosperity_overall  Rank
1237  Finland                       78.583068                     1
1296  Norway                        77.976541                     2
1298  New Zealand                   77.973330                     3
1295  Netherlands                   77.408362                     4
1321  Sweden                        77.253193                     5
1229  Denmark                       76.677473                     6
1198  Australia                     76.587060                     7
1214  Canada                        76.254063                     8
1240  United Kingdom                75.896149                     9
1215  Switzerland                   75.751761                     10
1227  Germany                       75.689596                     11
1253  Ireland                       75.507070                     12
1256  Iceland                       75.363823                     13
1275  Luxembourg                    75.185034                     14
1199  Austria                       74.706479                     15
1334  United States                 74.447546                     16
1202  Belgium                       74.177138                     17
1238  France                        72.937071                     18
1315  Singapore                     71.577028                     19
1235  Estonia                       71.028555                     20
1261  Japan                         70.558494                     21
1320  Slovenia                      70.121262                     22
1234  Spain                         70.063611                     23
1247  Hong Kong                     69.688856                     24
1283  Malta                         68.941357                     25
1305  Portugal                      68.023073                     26
1226  Czech Republic                67.756258                     27
1216  Chile                         67.262479                     28
1333  Uruguay                       67.133555                     29
1225  Cyprus                        67.023311                     30
1304  Poland                        66.695082                     31
1224  Costa Rica                    66.092766                     32
1288  Mauritius                     65.958270                     33
1258  Italy                         65.938656                     34
1319  Slovakia                      65.185951                     35
1266  South Korea                   65.120808                     36
1290  Malaysia                      64.907675                     37
1276  Latvia                        64.678557                     38
1257  Israel                        63.999863                     39
1301  Panama                        63.887981                     40
1244  Greece                        63.384173                     41
1327  Trinidad and Tobago           63.106245                     42
1274  Lithuania                     62.977916                     43
1249  Croatia                       62.912723                     44
1196  Argentina                     62.887334                     45
1195  United Arab Emirates          62.635614                     46
1250  Hungary                       62.229341                     47
1307  Qatar                         61.732203                     48
1338  South Africa                  61.578291                     49
1281  Macedonia                     61.302700                     50
1211  Brazil                        61.182360                     51
1206  Bulgaria                      60.543439                     52
1212  Botswana                      60.179308                     53
1308  Romania                       60.148063                     54
1284  Montenegro                    59.964283                     55
1259  Jamaica                       59.804508                     56
1280  Mexico                        59.582808                     57
1230  Dominican Republic            59.187198                     58
1272  Sri Lanka                     59.000939                     59
1318  Suriname                      58.923647                     60
1303  Philippines                   58.909821                     61
1232  Ecuador                       58.874805                     62
1312  Serbia                        58.718660                     63
1251  Indonesia                     58.492732                     64
1302  Peru                          58.488931                     65
1291  Namibia                       58.272986                     66
1207  Bahrain                       58.237599                     67
1325  Thailand                      58.120584                     68
1306  Paraguay                      58.044948                     69
1294  Nicaragua                     57.932062                     70
1285  Mongolia                      57.847857                     71
1222  Colombia                      57.755933                     72
1194  Albania                       57.598512                     73
1209  Belize                        57.595492                     74
1246  Guyana                        57.553203                     75
1329  Turkey                        57.494454                     76
1267  Kuwait                        57.409783                     77
1241  Georgia                       57.377547                     78
1317  El Salvador                   57.267992                     79
1299  Oman                          57.008470                     80
1336  Vietnam                       56.933898                     81
1217  China                         56.442043                     82
1210  Bolivia                       56.297217                     83
1242  Ghana                         56.256166                     84
1310  Rwanda                        56.128867                     85
1262  Kazakhstan                    55.999780                     86
1264  Kyrgyzstan                    55.968666                     87
1328  Tunisia                       55.476137                     88
1311  Saudi Arabia                  55.425524                     89
1260  Jordan                        55.414542                     90
1248  Honduras                      55.321009                     91
1245  Guatemala                     55.287578                     92
1278  Moldova                       54.980942                     93
1197  Armenia                       54.719006                     94
1208  Belarus                       54.459916                     95
1297  Nepal                         54.459601                     96
1277  Morocco                       54.270889                     97
1265  Cambodia                      54.251685                     98
1326  Tajikistan                    54.184674                     99
1332  Ukraine                       53.941649                     100
1309  Russia                        53.638688                     101
1263  Kenya                         53.622572                     102
1269  Lebanon                       53.522924                     103
1200  Azerbaijan                    53.515445                     104
1268  Laos                          53.402652                     105
1339  Zambia                        53.204534                     106
1289  Malawi                        52.914142                     107
1314  Senegal                       52.837360                     108
1252  India                         52.708875                     109
1335  Venezuela                     52.503933                     110
1231  Algeria                       52.191851                     111
1204  Burkina Faso                  52.087123                     112
1228  Djibouti                      51.839449                     113
1330  Tanzania                      51.020698                     114
1203  Benin                         50.711149                     115
1254  Iran                          50.564009                     116
1205  Bangladesh                    50.334901                     117
1340  Zimbabwe                      50.299164                     118
1273  Lesotho                       50.162889                     119
1331  Uganda                        50.122583                     120
1286  Mozambique                    49.829413                     121
1239  Gabon                         49.633150                     122
1233  Egypt                         49.587168                     123
1218  Ivory Coast                   49.378581                     124
1219  Cameroon                      49.156634                     125
1324  Togo                          49.015807                     126
1316  Sierra Leone                  48.987199                     127
1270  Liberia                       48.476076                     128
1322  Swaziland                     48.280929                     129
1223  Comoros                       48.277551                     130
1279  Madagascar                    47.940024                     131
1221  Congo                         47.294087                     132
1236  Ethiopia                      46.681588                     133
1282  Mali                          46.438478                     134
1271  Libya                         46.368374                     135
1201  Burundi                       46.332253                     136
1293  Nigeria                       46.260991                     137
1292  Niger                         45.713152                     138
1243  Guinea                        45.060302                     139
1300  Pakistan                      44.744078                     140
1193  Angola                        43.806934                     141
1287  Mauritania                    43.089646                     142
1255  Iraq                          41.263826                     143
1337  Yemen                         40.729703                     144
1313  Sudan                         40.058625                     145
1323  Chad                          39.905233                     146
1220  Democratic Republic of Congo  39.451277                     147
1192  Afghanistan                   38.454321                     148
1213  Central African Republic      38.276729                     149